@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Demo project by <a href="https://github.com/marcnazarian/">Marc Nazarian</a>.</p>
<p>The complete source code of this project is available on <a href="https://github.com/marcnazarian/pool-sensor">github</a></p>
