@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marc Nazarian<br />
    Persistent France<br/>
    1, rue Hector Berlioz<br />
    38600 Fontaine<br/>
    FRANCE
</address>