@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Pool Monitoring</h1>
    <p>A project to discover the wonderful world of:</p>
    <ul>
        <li>Web Application (HTML, CSS)</li>
        <li>Cloud with Azure</li>
        <li>ASP.Net and MVC Framework</li>
        <li>Database and Entity Framework</li>
        <li>Messaging and Service bus</li>
        <li>Internet of things</li>
    </ul>
    <p>
        => <a href="/PoolSensorDatas/Index">Monitor pool sensor data</a>
    </p>
</div>